[submodule "modules/mWindowsAPI"]
	path = modules/mWindowsAPI
	url = git@github.com:arizvisa/BugId-mWindowsAPI.git
[submodule "modules/oConsole"]
	path = modules/oConsole
	url = git@github.com:arizvisa/BugId-oConsole.git
[submodule "modules/cBugId"]
	path = modules/cBugId
	url = git@github.com:arizvisa/BugId-cBugId.git
[submodule "modules/mFileSystem"]
	path = modules/mFileSystem
	url = git@github.com:arizvisa/BugId-mFileSystem.git
[submodule "modules/mProductDetails"]
	path = modules/mProductDetails
	url = git@github.com:arizvisa/BugId-mProductDetails.git
